<%#= form_with local: true do |f|%>
<%= form_with(model: prototype, local: true) do |f|%>
  <%= render 'shared/error_messages', model: prototype %>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :catch_copy, "メッセージ" %><br />
    <%= f.text_area :catch_copy, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :concept, "音声読み上げ文章（※非表示）" %><br />
    <%= f.text_area :concept, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "サムネイル" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :item, "音声ファイル" %><br />
    <%= f.file_field :item %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>