
<li class='list'>
  <%= link_to prototype_path(prototype.id) do %>
    <div class='item-img-content'>
      <%= image_tag prototype.image, class: "item-img" %>
    </div>
    <div class='item-info'>
      <h3 class='item-name'>
        <%= prototype.title %>
      </h3>
        <div class='star-btn'>
          <%= image_tag "category.png", class:"star-icon" %>
          <span class='star-count'>カテゴリー名</span>
        </div>
      <br>
      <div class='item-price'>
        <span><%= link_to "by #{prototype.user.name}", "/users/#{prototype.user.id}", class: :prototype__user %><br></span>
        <div class='star-btn'>
        <%= image_tag "count.png", class:"star-icon" %>
          <span class='star-count'>0</span>
          　　　
          <%= image_tag "good.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </div>
    </div>
  <% end %>
</li>