<%# 詳細画面遷移時にJSを用いて１回だけリロードする機能を追加 %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script language="javascript">
  if ( location.search.indexOf("1") == -1 ) {
  setTimeout("_reload()",1);
  }
  function _reload() {
  location.href = location.href + "?1";
  }
</script>

<meta content="no-cache" name="turbolinks-cache-control">
<main class="main">
  <div class="inner"><br>
    <%# カテゴリー別にカードの色を変える %>
    <% if @prototype.category_id == 2 %>
      <div class="prototype__wrapper card_back card_color2">
    <% elsif @prototype.category_id == 3 %>
      <div class="prototype__wrapper card_back card_color3">
    <% elsif @prototype.category_id == 6 %>
      <div class="prototype__wrapper card_back card_color6">
    <% elsif @prototype.category_id == 9 %>
      <div class="prototype__wrapper card_back card_color9">
    <% else %>
      <div class="prototype__wrapper card_back card_color">
    <% end %>
    <%# //カテゴリー別にカードの色を変える %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <div class="prototype__manage">
        <input type="button"  value="音声読み上げ" class="btn">
        <input type="button"  value="読み上げ停止" class="btn2">
      </div>
      <div class="prototype__detail">
      <% if @prototype.item.file == nil %>
            ※音声ファイルは投稿されていません。
        <% end %>
      </div>
      <div class="prototype__manage3">
        <%= "投稿日：#{I18n.l @prototype.created_at, formats: :default}" %>
      </div>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <section id="speech">
      <div class="prototype__body">
        <div class="prototype__detail">
        <h1 class="clearText">タイトル っ。っ。っ。っ。</h1>
          <p class="detail__title2">[<%= "#{@prototype.title}" %>]</p>
          <p class="detail__message">
          </p>
        </div>
        <div class="prototype__image">
          <%= image_tag @prototype.image %>
        </div>
        <div class="prototype__detail">
          <% if @prototype.item.file != nil %>
            <%= audio_tag(@prototype.item, :autoplay => true, :controls => true) %>
          <% end %>
        </div>
        <h1 class="clearText">っ。っ。っ。っ。<%= "#{@prototype.concept}" %></h1>
        </section>
        <div class="prototype__detail">
          <div class="detail__title2">
            <p><%= simple_format(h(@prototype.catch_copy)) %></p>
          </div>
          <div class="prototype__manage4">
            <%= link_to "by #{@prototype.user.name}", "/users/#{@prototype.user.id}", class: :prototype__user %>
          </div>
          <br>
          <div class="prototype__hedding">
            <div class='prototype__btn2'>
              <%= image_tag "category.png", class:"star-icon" %>
              <span class='star-count'><%= @prototype.category.name %></span>
            </div>
            <div class='prototype__btn2'>
              <%= image_tag "count.png", class:"star-icon" %>
              <span class='star-count'><%= @prototype.impressions_count %></span>
            </div>
            <div class='prototype__btn2'>
              <%= image_tag "good.png", class:"star-icon" %>
              <span class='star-count'><%= @prototype.likes.count %></span>
              <% if current_user.already_liked?(@prototype) %>
                <%= button_to 'return><', prototype_like_path(@prototype), method: :delete ,class: :nav__btn2 %>
              <% else %>
                <%= button_to 'Get!!^^', prototype_likes_path(@prototype),class: :nav__btn2 %>
              <% end %>
            </div>
          </div>
          <br>
        </div>
      </div>
      <% if user_signed_in? && current_user.id == @prototype.user_id %>
            <div class="prototype__manage2">
              <%= link_to "編集する", edit_prototype_path(@prototype.id),method: :get,class: :nav__btn2 %>
              <%= link_to "削除する", prototype_path(@prototype.id), method: :delete,class: :nav__btn2 %>
            </div>
            <% end %>
      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with(model: [@prototype, @comment], local: true) do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :chat_btn  %>
            </div>
          <% end %> 
        <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <strong><%= comment.text%></strong>
              <%= link_to "（#{comment.user.name}）", "/users/#{comment.user.id}", class: :comment_user %>
            </li>
          <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
      <Br>
    </div>
  </div>
</main>
