<!DOCTYPE html>
<html>
  <head>
    <meta content="no-cache" name="turbolinks-cache-control">
    <meta http-equiv="cache-control" content="no-store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="hue.css">
    <title>Voice--carD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Economica:700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">  
  </head>

  <body>
<div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
</div>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>
          <div class="nav__right">
              <form class="search-form" action="#">
              <input class='input-box' placeholder='キーワードから探す'>
              <button class="search-button">
              <%= image_tag "search.png", class:"search-icon" %>
              </button>
              </form>
          </div>
        </div>
        <div class="nav">
          <div class="nav__left">
            <ul class='lists-left'>
              <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
              <li><%= link_to 'お気に入り', "#", class: "brand-list" %></li>
            </ul>
          </div>
          <% if user_signed_in? %>
          <%# ログインしているときは以下を表示するようにしましょう %>
            <div class="nav__right">
              <ul class='lists-right'>
                <li><%= link_to "ログアウト", destroy_user_session_path, class: :nav__logout %></li>
                <li><%= link_to "Voice--carD作成", new_prototype_path, class: :nav__btn %></li>
              </ul>
            </div>
          <%# // ログインしているときは上記を表示するようにしましょう %>
          <% else %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <%# // ログインしていないときは上記を表示するようにしましょう %>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © Voice--carD All rights reserved.</p>
    </footer>
  </body>
</html>
